:root {
  --first-text-col: #000000;
  --second-text-color: #ffffff;
  --first-text-family: Roboto, sans-serif;
  --second-text-family: Rt serif, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: var(--first-text-family);
  font-style: normal;
  font-weight: 400;
}

.container {
  width: 1150px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
.header {
  position: absolute;
  width: 100%;
  color: var(--second-text-color);
}

.logo-container {
  display: flex;
}

.header-logo {
  display: flex;
  margin-right: 179px;
  color: var(--second-text-color);
  font-family: PT Serif, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header-logo-text-first {
  color: var(--second-text-color);

  font-family: var(--second-text-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
}

.header-logo-text-second {
  color: var(--second-text-color);
  font-size: 18px;
  line-height: 1.1;
}

.header-contacts {
  display: flex;
}

.header-contacts-item + .header-contacts-item {
  margin-left: 33px;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  color: var(--second-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #70cf29;
}

.header-contacts-link:hover .header-contact-icon {
  fill: #70cf29;
}

.header-contact-icon {
  margin-right: 13px;
  display: flex;
  fill: #ffffff;
  opacity: 0.8;
}

.header-button {
  margin-left: 45px;

  background-color: rgba(255, 255, 255, 0);
  color: var(--second-text-color);

  min-width: 186px;
  height: 44px;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.2;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;
}

.header-button:hover,
.header-button:focus {
  color: #70cf29;
  border-color: #70cf29;

  cursor: pointer;
}

.menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 32px;
}

.header-nav-link {
  display: block;
  padding-top: 20px;
  color: var(--second-text-color);

  font-size: 16px;
  line-height: 1.2;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #70cf29;
}

/* Hero */
.hero {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 226px;
  padding-bottom: 33px;
  background-color: gray;
  background-image: url("../images/Main-image.jpg");

  color: var(--second-text-color);
}

.hero-title {
  margin-bottom: 8px;
  font-family: Pt serif, sans-serif;

  font-weight: 700;
  font-size: 90px;
  line-height: 1.3em;
}

.hero-description {
  margin-bottom: 94px;
  font-size: 20px;
  line-height: 1.4em;
}

.hero-button {
  margin-bottom: 184px;
  display: inline-block;
  color: var(--second-text-color);
  padding: 19px 53px;

  font-family: inherit;
  font-style: 18px;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 30px;
}

.hero-button:hover,
.hero-button:focus {
  color: #70cf29;
  border-color: #70cf29;
}

.hero-down {
  display: flex;

  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.hero-down:hover,
.hero-down:focus {
  border-color: #70cf29;
}

.hero-down:hover .hero-icon-down {
  /* fill: #70cf29; */
  stroke: #70cf29;
}

.hero-icon-down {
  stroke: white;
}

/*Categories*/
.categories {
  padding-top: 64px;
  padding-bottom: 64px;
  color: var(--first-text-col);
}

.categories-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -32px;
  margin-bottom: -32px;
}

.categories-item {
  width: 256px;
  margin-right: 32px;
  margin-bottom: 32px;
  border: 1px solid #d9d9de;
  border-radius: 6px;
  overflow: hidden;
}

.categories-link {
  color: var(--first-text-col);
}

.categories-container {
  padding: 13px 19px 16px 19px;
}

.categories-discription {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

/* Направления */

.directions {
  padding-top: 44px;
  padding-bottom: 80px;
  color: var(--first-text-col);
  background-color: rgba(112, 207, 41, 0.07);
}

.directions-title {
  margin-bottom: 50px;
  color: var(--first-text-col);
  font-family: Pt serif, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.direction-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -33px;
  margin-right: -33px;
  padding: 0;
}

.direction-item {
  width: 252px;
  /* width: calc((100%-99px) / 4); */
  margin-bottom: 33px;
  margin-right: 33px;
  padding: 0;
}

.direction-icon {
  margin-bottom: 16px;
  width: 84px;
  height: 84px;
}

/* .direction-item:not(:nth-child(4n + 4)) {
  margin-right: 33px;
} */

/* Популярные предложения */

.suggestions-list {
  display: flex;
  flex-wrap: wrap;
}

.suggestions {
  background-color: gray;
}

.suggestions-title {
  color: var(--second-text-color);

  font-family: Pt serif, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
}

.suggestions-link {
  color: var(--second-text-color);
}

.suggestions-sub-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
}

.suggestions-price {
  font-size: 16px;
  line-height: 1.3;
}

/* Карта */

.map {
  padding-top: 70px;
}

.map-title {
  margin-bottom: 37px;

  color: var(--first-text-col);
  font-family: Pt serif, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
}

/* About */

.about {
  padding-top: 70px;
  padding-bottom: 84px;
}

.about-title {
  margin-bottom: 21px;

  font-family: Pt serif, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
}

.about-discription {
  font-size: 18px;
  line-height: 1.4;
  color: #333333;
}

.second {
  /* margin-bottom: 55px; */
}

.about-second-text {
  display: none;
}

.about-label {
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

.about-checkbox {
  position: absolute;
  appearance: none;
}

.about-second-text {
  font-size: 18px;
  line-height: 1.4;
  color: #333333;
}

.label-on,
.label-off {
  text-decoration: underline;
  color: #70cf29;
}

.about-checkbox:checked ~ .about-second-text {
  display: block;
}

.about-checkbox:checked ~ .about-label .label-on {
  display: none;
}

.label-off {
  display: none;
}

.about-checkbox:checked ~ .about-label .label-off {
  display: block;
}

/* Фотогалерея */
.gallery {
  background-color: rgba(63, 169, 245, 0.07);
}

.gallery-title {
  color: var(--first-text-col);
  font-family: Pt serif, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
}

.gallery-link {
  color: #0050b2;

  font-size: 16px;
  line-height: 1.2;
  text-decoration: underline;
}

.gallery-link:hover,
.gallery-link:focus {
  color: rgba(0, 80, 178, 1);
}

.gallery-button {
  text-align: center;
  color: #0061d9;
  border: 1px solid #0061d9;
  border-radius: 50%;
  box-sizing: border-box;
}

/* Проеимущества отдыха */
.advantages-sub-title {
  color: var(--first-text-col);

  font-family: Pt serif, sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  color: #333333;
  font-size: 18px;
  line-height: 1.4;
}

/* Особенности */

.feautures {
  padding-top: 41px;
  padding-bottom: 85px;
}

.feautures-list {
  display: flex;
}

.feautures-sub-title {
  color: #64bd22;
  font-family: PT serif, sans-serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 1.3;
}

.feautures-discription {
  color: var(--first-text-col);
  font-weight: 500;
  line-height: 1.3;
}

.footer {
  background-color: #202020;
}

.footer-title {
  color: var(--second-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
}

.footer-links {
  color: var(--second-text-color);
  opacity: 0.8;

  font-size: 16px;
  line-height: 1.3;
}

.footer-sub-title {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
}

.footer-sub-discription {
  color: var(--second-text-color);
  opacity: 0.8;

  font-weight: 14px;
  line-height: 1.3;
  list-style: none;
  text-decoration: none;
}

address {
  list-style-type: none;
  text-decoration: none;
}
